<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/navbar.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body class="body">
	<nav class="navbar">
		<div class="nav-first">
			<div class="logo"><img src="img/logo.png"></div>
		
			<ul class="ul-list">
				<li class="li-item"><a href="/" class="a">Home</a></li>
				<li class="li-item"><a href="/teacher" class="a">teacher</a></li>
				<li class="li-item"><a href="/student" class="a">Student</a></li>
				<li class="li-item"><a href="#contact" class="a">Contact us</a></li>
			</ul>
		</div>

		<div class="nav-second">
			<div class="search">
				<input type="text" placeholder="Search" id="search">
				<button id="btn">Search</button>
			</div>
			
			<button class="btn"><a href="/teacher" style="text-decoration: none; color: white
			;">Sign in</a></button>
			<button class="btn"><a href="/login" style="text-decoration: none; color: white
			;">Login</a></button>
		</div>

<button class="hamburger" id="hamburger">
		<div class="hamburger-child"></div>
		<div class="hamburger-child"></div>
		<div class="hamburger-child"></div>
	</button>
	
	</nav>


<div class="responsive" id="responsive">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/teacher">teacher</a></li>
		<li><a href="/student">Student</a></li>
		<li><a href="#contact">Contact us</a></li>
		<li>
			<div>
				<input type="text" placeholder="search" class="" id="small_search">
				<button id="btns">Search</button>
			</div>
		</li>
		<li>
			<div>
				<button><a href="/teacher" style="text-decoration: none; color: white
			;">Sign in</a></button>
				<button><a href="/login" style="text-decoration: none; color: white
			;">login in</a></button>
			</div>
		</li>

	</ul>

	<button class="cut" id="cut">
		<div id="cut-div-1"></div>
		<div id="cut-div-2"></div>
	</button>
</div>

<div class="login-details">

	<h1 class="login-as">Login as</h1>

	<div class="flexing">
		<div class="image-login">
			<div class="image">
				<a href="/student"><img src="img/download (2).jpeg" alt=""></a>
				<h3>Student</h3>
			</div>
			
			<div class="image">
				<a href="/teacher"><img src="img/images (9).jpeg" alt="">
				</a>
				<h3>Teacher</h3>
			</div>
			
		</div>
	</div>	
</div>





<script type="text/javascript">
	let hamburger   = document.getElementById('hamburger')
	let responsive = document.getElementById('responsive')

	hamburger.addEventListener('click',(event)=>{
		responsive.style.display = 'block';
	
	})

	let cut =document.getElementById('cut');
	cut.addEventListener('click',(event)=>{
		responsive.style.display = 'none';
	
	})
</script>



</body>
</html>