<!DOCTYPE html>
<html>
<head>
	<title>ff</title>
    <link rel="stylesheet" href="css/signup.css">

</head>
<body>

<div class="main">
	
    <div class="snap-logo">
        <img src="img/21-17-57-snap_logo_big.png" alt="">
    </div>
<div class="container">
	<div class="satyam">
		<div class="sign">
			<h1>Sign Up</h1>
			<small>Please fill in this form to create an account!</small>

		</div>

		<hr>
		<form method="post" action="/login" style="background-color: #fff7e8;">
			<input type="email" class="other" placeholder="Name" name="email" required>	
		
			<input type="password" class="other" placeholder="Password" name="password" required>
	

           
			<div class="condition">
				<input required type="checkbox" id="check" name="check"><p class="terms">I accept the <a class="a" href="">Terms of Use</a>
				&<a href="" class="a">Privicy Policy</a></p>
		
			</div>
			
			<button class="btn" type="Submit">Login up</button>
		

    	</form>

	</div>

	
</div>

</div>
</body>
</html>