<!DOCTYPE html>
<html>
<head>
	<title>ff</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>

<div class="main">

    <div class="snap-logo">
        <img src="img/21-17-57-snap_logo_big.png" alt="">
    </div>
<div class="container">
	<div class="satyam">
		<div class="sign">
			<h1>Sign Up</h1>
			<small>Please fill in this form to create an account!</small>

		</div>

		<hr>
		<form method="post" action="" style="background-color: #fff7e8;">
			<input type="text" class="other" placeholder="Name" name="name" required>	
			<input type="email" class="other" placeholder="Email" name="email" required>
			<input type="password" class="other" placeholder="Password" name="password" required>
			<input type="password" class="other" placeholder="Confirm Password" name="cpassword" required>
		<input type="text" class="other" placeholder="Class code" name="code" required>
		
          

			<div class="condition">
				<input type="checkbox" required id="check" name="check"><p class="terms">I accept the <a class="a" href="">Terms of Use</a>
				&<a href="" class="a">Privicy Policy</a></p>
		
			</div>
			
			<button class="btn" type="submit">Sign up</button>
		

    	</form>

	</div>

	<div class="login">
		<h4>Already have signup please <a href="/studentlogin">login</a></h4>
	</div>

</div>

</div>
</body>
</html>